* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


p {
    font-size: 20px;
}

p.small {
    font-size: 15px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    color: #774ebd;
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

hr.line-light, hr.line-dark {
    max-width: 250px;
    margin: 25px auto 30px;
}

hr.line-light {
    border: 3px solid #ffffff;
}

hr.line-dark {
    border: 3px solid #2c3e50;
}

section {
  padding: 100px 0;
}

section h2 {
  margin: 0;
  font-size: 3em;
}

#books .book-list div[class*="col"] {
  padding-top: 20px;
}